p{
 border-style: solid;
}
*{
    margin: 0px;
    padding: 0px;
}
.texto2{
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 120px;
    padding-left: 120px;
    background-color: #0489B1;
}

.texto3{
    padding: 20px 30px 40px 50px;
    width: 120px;
    border-top-width:15px;
    border-right-width:15px;
    border-bottom-width:15px;
    border: left width 15px ;
    /*
    Las 4 instrucciones anteriores se pueden representar asi;
    border-width: 5px,10px,15px,20px
    */
    border-color:#21610B #4b8a08 #4b610b #393b0b;

    margin:30px 20px 35px 465px;
}

.textoN{
    border-width: thin;
}